{{#block "content"}}
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique enim temporibus voluptates facere, asperiores
    explicabo consequatur sequi suscipit, nisi magnam amet ullam cumque nesciunt earum maxime, unde dolor expedita
    nulla.</p>
{{/block}}
{{/extends}}